@model ScreeningTesterWebSite.Models.InputGetLastQuestions

<div class="col-md-12">
    <h3>@ViewBag.Title</h3>

    @using (Html.BeginForm(Model.MethodName, "PWSUnitTest", FormMethod.Post))
    {
        <form>
            <div>
                <p>
                    @Html.HiddenFor(model => Model.UserName)
                    @Html.HiddenFor(model => Model.UserPW)
                    @Html.HiddenFor(model => Model.CoID)
                    @Html.HiddenFor(model => Model.LoID)
                    @Html.HiddenFor(model => Model.EnvironCode)
                    @Html.HiddenFor(model => Model.LanguageID)

                    @Html.Label("Environment: " + Model.EnvironmentDescription)<br />
                    @Html.Label("Language: " + Model.LanguageDescription)<br />
                    @Html.Label("CoID: " + Model.CoID)<br />
                    @Html.Label("LoID: " + Model.LoID)
                </p>
                <p>
                    @Html.Label("EmID (applicantid)") <br />
                    @Html.TextBoxFor(x => Model.EmID)
                </p>
                <p>
                    <button type="submit">Next</button>
                </p>
            </div>
        </form>
    }
    @Html.Partial("_Btn_BackToUnitMainPage")
    @Html.Partial("_Btn_BackToHomePage")
</div>