@model ScreeningTesterWebSite.Models.InputNewApplicant

<div class="col-md-12">
    <h3>@ViewBag.Title</h3>
    @using (Html.BeginForm(Model.ResultsTargetPage, Model.ResultsTargetController, FormMethod.Post))
    {
        <form>
            <div class="col-md-12">
                <p>
                    @Html.HiddenFor(model => Model.UserName)
                    @Html.HiddenFor(model => Model.UserPW)
                    @Html.HiddenFor(model => Model.CoID)
                    @Html.HiddenFor(model => Model.LoID)
                    @Html.HiddenFor(model => Model.EnvironCode)
                    @Html.HiddenFor(model => Model.EmID)
                    @Html.HiddenFor(model => Model.LanguageID)

                    @Html.Label("Environment: " + Model.EnvironmentDescription)<br />
                    @Html.Label("Language: " + Model.LanguageDescription)<br />
                    @Html.Label("CoID: " + Model.CoID)<br />
                    @Html.Label("LoID: " + Model.LoID)
                </p>
                <p>
                    @Html.Label("Candidate (External) ID") <br />
                    @Html.TextBoxFor(model => Model.CandidateID)
                </p>
                <p>
                    @Html.Label("Full Name (First MI Last")) <br />
                    @Html.TextBoxFor(model => Model.fname) &nbsp;
                    @Html.TextBoxFor(model => Model.mi) &nbsp;
                    @Html.TextBoxFor(model => Model.lname)
                </p>
                <p>
                    @Html.Label("SSN (leave blank or insure SSN is unique to data)") <br />
                    @Html.TextBoxFor(model => Model.ssn)
                </p>
                <p>
                    @Html.Label("Street Address") <br />
                    @Html.TextBoxFor(model => Model.address)
                </p>
                <p>
                    @Html.Label("City ") <br />
                    @Html.TextBoxFor(model => Model.city)
                </p>
                <p>
                    @Html.Label("State (enter 2 character code)") <br />
                    @Html.TextBoxFor(model => Model.state)
                </p>
                <p>
                    @Html.Label("Zip ") <br />
                    @Html.TextBoxFor(model => Model.zip)
                </p>
                <p>
                    @Html.Label("Birth Date (yyyy-mm-dd or mm/dd/yyy format)") <br />
                    @Html.TextBoxFor(model => Model.birthdate)
                </p>
                <p>
                    @Html.Label("Opt Out") <br />
                    @Html.TextBoxFor(model => Model.optout)
                </p>
                @Html.HiddenFor(x=> Model.MethodName)

                <button type="submit">Next</button>
            </div>
        </form>
        if (Model.ResultsTargetController == "PWSUnitTest")
        {
            <p>
                @Html.Partial("_Btn_BackToUnitMainPage")
            </p>
        }
        <p>
            @Html.Partial("_Btn_BackToHomePage")
        </p>
    }
</div>
