@model ScreeningTesterWebSite.Models.AddressConfirmationOutput

@{
    ViewBag.Title = "Questionnaire Address Confirmation";
}
<div class="col-md-12">
    <h3>@ViewBag.Title</h3>
    @using (Html.BeginForm("FirstQuestionsPage", "PWSFullScreening", FormMethod.Post))
    {
        <form>
            <div class="col-md-12">
                <p>
                    @Html.HiddenFor(model => Model.UserName)
                    @Html.HiddenFor(model => Model.UserPW)
                    @Html.HiddenFor(model => Model.CoID)
                    @Html.HiddenFor(model => Model.LoID)
                    @Html.HiddenFor(model => Model.EnvironCode)
                    @Html.HiddenFor(model => Model.LanguageID)

                    @Html.Label("Environment: " + Model.EnvironmentDescription)<br />
                    @Html.Label("Language: " + Model.LanguageDescription)<br />
                    @Html.Label("CoID: " + Model.CoID)<br />
                    @Html.Label("LoID: " + Model.LoID)
                </p>
                @{
                    if (Model.ReturnedErrorText != null)
                    {
                        @Html.Label(Model.ReturnedErrorText, "Error Message = " + Server.HtmlEncode(Model.ReturnedErrorText))<br />
                    }
                    else
                    {
                        <p>
                            <B>@Html.Label("Opt-Out Text:")</B>
                            @Html.DisplayFor(x => Model.optouttext)
                        </p>
                        <p>
                            @Html.Label("Opt Out") <br />
                            @Html.TextBoxFor(model => Model.optout)
                        </p>
                        <B>@Html.Label("Normalized Address:")</B><br />
                        @Html.Label(Model?.address)<br />
                        @Html.Label(Model?.city + ", " + Model?.state + " " + Model?.zip)
                    
                        @Html.HiddenFor(x => Model.CandidateID)
                        @Html.HiddenFor(x => Model.address)
                        @Html.HiddenFor(x => Model.city)
                        @Html.HiddenFor(x => Model.state)
                        @Html.HiddenFor(x => Model.zip)

                        @Html.HiddenFor(x => Model.ssn)
                        @Html.HiddenFor(x => Model.fname)
                        @Html.HiddenFor(x => Model.mi)
                        @Html.HiddenFor(x => Model.lname)
                        @Html.HiddenFor(x => Model.birthdate)
                        @Html.HiddenFor(x => Model.hourlyrate)
                        @Html.HiddenFor(x => Model.position)
                        @Html.HiddenFor(x => Model.optout)
                        @Html.HiddenFor(x => Model.primaryphone)
                        @Html.HiddenFor(x => Model.email)

                        <p>
                            <button type="submit">Next</button>
                        </p>
                    }
                }
            </div>
        </form>
    }
    @Html.Partial("_Btn_BackToWelcomePage")
    @Html.Partial("_Btn_BackToHomePage")
</div>
